html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

input:not([type='radio']):not([type='checkbox']),
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 8px;
  font: inherit;
}

input {
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0.5em 0.8em;
}

input:focus {
  border-color: #23b4ff;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 250%;
  font-weight: 300;
  margin: 20px 0;
  line-height: 1.2em;
}

h2 {
  font-size: 150%;
  font-weight: 400;
}

h3 {
  font-size: 120%;
  font-weight: 400;
}

a {
  color: #23b4ff;
  text-decoration: none;
  font-weight: 400;
}

button:hover,
a:hover {
  opacity: 0.7;
}

footer {
  display: block;
  text-align: center;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  font-size: 0.8em;
}

footer nav ul {
  justify-content: center;
  padding: 20px 10px;
}

footer .copyright {
  background: #333;
  color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}

footer a {
  margin: 0 5px;
}

table {
  margin-bottom: 100px;
  font-size: 90%;
}

th {
  text-align: left;
  vertical-align: top;
  width: 150px;
}

svg.icon {
  fill: currentColor;
  stroke: currentColor;
}

header {
  width: 100%;
  box-sizing: border-box;
  font-size: 110%;
  padding: 0 10px 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

header .login-button,
header .btn {
  display: block;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 8px;
}

header nav ul,
footer nav ul {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li:not(:last-child),
footer nav ul li:not(:last-child) {
  margin-right: 1em;
}

nav a {
  display: block;
}

header .logo {
  margin-right: 10px;
  margin-left: 3px;
}

header .type {
  font-size: 110%;
  position: relative;
  top: -1px;
}

header [class^='icon-'],
header [class*=' icon-'] {
  font-size: 140%;
}

header .spacer {
  flex: 1;
}

header .links a {
  line-height: 0;
  margin-left: 10px;
}

header .links .icon {
  width: 23px;
  height: 23px;
}

main {
  max-width: none;
  margin: 0;
  padding: 0;
}

section {
  clear: both;
  margin-bottom: 50px;
  box-sizing: border-box;
}

section > .inner {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

section.plans > .inner {
  max-width: 1100px;
}

ul.articles {
  list-style: none;
  margin: 20px 0 50px 0;
  padding: 0;
}

ul.articles li {
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  margin: 30px 0;
  overflow: hidden;
  --color-highlight: #23b4ff;
}

article {
  margin: 70px 0;
  box-sizing: border-box;
  clear: both;
}

article .publish-date {
  color: #aaa;
}

ul.articles li > a {
  display: flex;
  color: #444 !important;
}

li > a .thumbnail {
  width: 250px;
  background: none no-repeat center center;
  background-size: cover;
  position: relative;
}

li > a .body {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 1;
}

li > a .body::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: skew(-5deg, 0);
  transform-origin: 0 0;
  background: #fff;
  z-index: -1;
}

li > a h3 {
  margin-bottom: 0.3em;
  font-weight: bold;
}

li > a .publish-date {
  color: var(--color-highlight);
  margin-bottom: 0.5em;
}

figure {
  margin: 40px 0;
  text-align: center;
  line-height: 0;
  position: relative;
}

figure.center img {
  max-height: 500px;
}

figure.rounded img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
}

figure.border img {
  border: solid 1px #ccc;
  box-sizing: border-box;
}

figure.iphonex {
  border-radius: 20px;
  border: solid 4px black;
}

figure.iphonex::before {
  content: '';
  display: block;
  width: 57%;
  height: 15px;
  border-radius: 0 0 13px 13px;
  margin: 0 auto;
  position: absolute;
  background: black;
  left: 0;
  right: 0;
}

figure img {
  max-height: 400px;
  max-width: 100%;
}

figure.float img {
  max-width: 300px;
  max-height: none;
}

figure.float.right {
  float: right;
  margin: 10px 0 10px 30px;
}

figure.float.left {
  float: left;
  margin: 0 20px 0 0;
}

button,
.btn {
  background: #23b4ff;
  color: white;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.9em;
  position: relative;
  vertical-align: middle;
  border-radius: 8px;
  font: inherit;
  font-weight: bold;
  border: none;
}

.btn .icon {
  font-size: 1.1em;
}

.btn .icon:first-child {
  margin-right: 0.5em;
}

.btn .icon:last-child {
  margin-left: 0.5em;
}

@keyframes reveal {
  from {
    transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal2 {
  from {
    transform: translate(0, 30px);
  }
}

@keyframes drop {
  from {
    transform: translate(0, -200px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.white {
  --background: linear-gradient(180deg, #fafafa 0%, #d8d8d8 100%);
  --color-bg: #fff;
  --color-fg: #444;
  --color-highlight: #ff6666;
}

.red {
  --background: linear-gradient(180deg, #ff6e6e 0%, #ff5151 100%);
  --color-bg: #ff6666;
  --color-fg: #fff;
  --color-highlight: #444;
}

.blue {
  --background: linear-gradient(180deg, #59c6ff 0%, #077cb9 100%);
  --color-bg: #23b4ff;
  --color-fg: #fff;
  --color-highlight: #444;
}

.black {
  --background: linear-gradient(180deg, #555 0%, #333 100%);
  --color-bg: #444444;
  --color-fg: #fff;
  --color-highlight: #ff6666;
}

section {
  margin: 0;
  position: relative;
  z-index: 1;
  color: var(--color-fg);
}

section .inner {
  max-width: 1000px;
  display: flex;
  padding: 0 50px;
}

section.left .inner {
  padding-right: 0;
}

section.right .inner {
  padding-left: 0;
}

section .inner .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}

section.right .inner {
  flex-direction: row-reverse;
}

section.right .inner .content {
  align-items: flex-end;
  text-align: right;
}

section .buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

section.right .buttons {
  justify-content: flex-end;
}

section .buttons > * {
  margin: 4px;
}

section h1 {
  margin: 0 0 0.5em 0;
}

section h3 {
  margin: 0 0 1em 0;
  font-weight: 300;
}

section .btn {
  background: var(--color-fg);
  color: var(--color-bg);
}

section a:not(.btn) {
  color: var(--color-highlight, #23b4ff);
}

section .btn.primary {
  background: var(--color-highlight);
}

section .bg-color,
section .bg-color > * {
  position: absolute;
  z-index: -2;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 10px;
}

section .bg-color > * {
  background: var(--background, var(--color-bg));
}

section .bg-color > :nth-child(1) {
  transform: skew(0, 2deg);
  transform-origin: 30%;
}

section .bg-color > :nth-child(2) {
  opacity: 0.8;
  transform: skew(0, -2deg);
  transform-origin: 80%;
}

section .bg-color > :nth-child(3) {
  opacity: 0.6;
  transform: skew(0, 4deg);
  transform-origin: 40%;
}

section.right .bg-color > :nth-child(1) {
  transform: skew(0, -2deg);
  transform-origin: 80%;
}

section.right .bg-color > :nth-child(2) {
  opacity: 0.8;
  transform: skew(0, 1deg);
  transform-origin: -20%;
}

section.right .bg-color > :nth-child(3) {
  opacity: 0.6;
  transform: skew(0, -4deg);
  transform-origin: 70%;
}

section .images {
  width: 400px;
  position: relative;
}

section .images > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  background: none no-repeat center center;
  background-size: contain;
}

section.hidden * {
  animation-play-state: paused !important;
}

section:not(.hero),
section.hero header,
section.hero .inner .content > *,
section.hero .bg-color {
  animation: reveal 1s backwards;
}

section.hero .inner .content :nth-child(1) {
  animation-delay: 0.2s;
}

section.hero .inner .content :nth-child(2) {
  animation-delay: 0.4s;
}

section.hero .inner .content :nth-child(3) {
  animation-delay: 0.6s;
}

section.hero .inner .content :nth-child(4) {
  animation-delay: 0.8s;
}

section.hero header a {
  color: var(--color-fg);
}

section.hero header .btn {
  background: var(--color-fg);
  color: var(--color-bg);
}

section.hero .inner .logo {
  height: 60px;
  width: 200px;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 7;
  margin-bottom: 20px;
}

.video.float.right {
  float: right;
  margin: 20px 0 20px 20px;
}

.newsletter-signup {
  margin: 50px auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.newsletter-signup form {
  display: -webkit-flex;
  display: flex;
}

.newsletter-signup .email {
  min-width: 0;
  display: block;
  background-color: #fff;
  border: solid 1px #23b4ff;
  font-size: 110%;
  font-family: inherit;
  padding: 10px;
  margin: 0 10px 0 0;
  -webkit-flex: 1;
  flex: 1;
}

.newsletter-signup .email::-webkit-input-placeholder {
  color: #59c6ff;
}

.newsletter-signup .button {
  display: block;
  width: 120px;
  font-size: 110%;
  font-family: inherit;
  background: #23b4ff;
  color: #fff;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border: solid 2px #23b4ff;
}

.note {
  background: rgba(89, 198, 255, 0.1);
  padding: 20px;
  border: solid 1px #23b4ff;
  clear: both;
  margin: 20px 0;
  border-radius: 8px;
}

.note p {
  text-align: left;
}

.note p:first-child {
  margin-top: 0;
}

.note p:last-child {
  margin-bottom: 0;
}

.back-button-wrapper {
  margin-bottom: 1em;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 150%;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  overscroll-behavior: contain;
  transition: opacity 0.5s;
}

.fullscreen-menu::before {
  content: '';
  background: var(--background, #fff);
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 100%;
  transition: transform cubic-bezier(1, 0, 0.8, 0.5) 0.3s;
}

.fullscreen-menu a {
  padding: 10px 15px;
  color: var(--color-highlight, #444);
}

.fullscreen-menu .close-menu {
  position: absolute;
  display: block;
  padding: 15px 22px;
  top: 0;
  left: 0;
}

body:not(.menu-open) .fullscreen-menu {
  opacity: 0;
  pointer-events: none;
}

body.menu-open .fullscreen-menu::before {
  transform: scale(20);
}

.underline {
  text-decoration: underline;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 210%;
  }

  section .inner .content {
    padding: 80px 0 !important;
  }

  section .inner .images {
    width: 300px !important;
  }
}

@media (max-width: 700px) {
  section.left .inner,
  section.right .inner {
    flex-direction: column;
    padding: 0 20px;
  }

  section .inner .content {
    align-items: center !important;
    text-align: center !important;
    padding: 50px 10px !important;
  }

  section .inner .buttons {
    justify-content: center !important;
  }

  section .inner .images {
    width: auto !important;
    height: 400px;
    margin-top: -50px;
  }

  section h1 {
    font-size: 200%;
  }

  section .inner h1,
  section .inner h2,
  section .inner h3 {
    width: 100% !important;
  }

  li > a .thumbnail {
    display: none;
  }

  article {
    margin: 50px 0;
  }

  .wide {
    display: none;
  }
}

@media (min-width: 700px) {
  .narrow {
    display: none;
  }
}

@media (max-width: 500px) {
  section .inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  figure.float img {
    max-width: 100%;
  }

  figure.float.left,
  figure.float.right {
    float: none;
    margin: 20px;
  }

  .video.float.right {
    display: block;
    float: none;
    width: 100%;
    margin: 20px auto;
  }

  footer nav ul {
    flex-direction: column;
  }

  footer nav ul > li {
    margin: 0 !important;
    padding: 5px;
  }
}
