.device-stage {
    position: absolute;
    top: 0; left: 0; right: 0;
    perspective: 2000px;
    height: 500px;
    transition: transform 1s, opacity 0.5s;
    pointer-events: none;
    overflow: hidden;
}

.device-wrapper {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.device {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 230px;
    height: 437px;
    transform-style: preserve-3d;
    pointer-events: auto !important;
}

.device > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 16px;
}

.device > :nth-child(1) {
    transform: translateZ(0);
}

.device > :nth-child(2) {
    transform: translateZ(3px);
}

.device > :nth-child(3) {
    transform: translateZ(9px);
}

.device > :nth-child(4) {
    transform: translateZ(12px);
}

.device > .front {
    background: #fff;
    padding: 25px 5px 25px 5px;
    border: solid 1px #aaa;
}

.device > .back {
    background: #fff;
    border: solid 1px #aaa;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 6px;
    overflow: hidden;
    border: solid 1px #aaa;
    background-clip: padding-box;
}

.screen > * {
    border-radius: 6px;
    background-clip: padding-box;
}

.screen > video {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    transition: opacity 0.2s;
}

.device .hidden {
    opacity: 0;
    pointer-events: none;
}

/* DESKTOP */

.device.desktop {
    width: 500px;
    height: 394px;
}

.device.desktop > div {
    border-radius: 4px;
}

.device.desktop .front {
    padding: 20px 3px 3px 3px;
}

.device.desktop .screen, .device.desktop .screen > * {
    border-radius: 3px;
}

.window-buttons {
    position: absolute;
    top: -4px;
    left: 9px;
}

.device:not(.desktop) .window-buttons {
    display: none;
}

.window-buttons > * {
    display: inline-block;
    width: 7px;;
    height: 7px;;
    background: #ccc;
    border: solid 1px #aaa;
    border-radius: 100%;
    margin-right: 3px;
}

@keyframes scan {
    from { transform: translate3d(0, 50px, 0); }
    to { transform: translate3d(0, 220px, 0); }
}

.code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/img/v2.1-locked.png) no-repeat;
    background-size: cover;
    transition: opacity 0.2s;
}

.code-scan {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    overflow: hidden;
    animation: scan 2s linear infinite alternate;
}

.code-scan > div {
    position: absolute;
    top: -400px;
    width: 100%;
    height: 450px;
    background: url(/img/code.png) no-repeat;
    background-size: 500px;
    animation: scan 2s linear infinite alternate-reverse; 
}

.downloads {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #59c6ff 0%, #077cb9 100%);
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;

}

.downloads .download-link-direct {
    color: #fff;
    transition: transform 0.5s;
}

.downloads .download-link-direct:hover {
    transform: translateZ(10px);
}

.device .downloads .download-link-direct .inner {
    width: 140px;
    height: 140px;
    font-size: 90%;
}

.device .downloads .download-link-direct .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 70px;
}

.device .downloads .download-link-direct.beta::after {
    display: none;
}
