.device {
    width: 300px;
    height: 574px;
    transform-style: preserve-3d;
}

.device > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 20px;
}

.device > :nth-child(1) {
    transform: translateZ(2px);
}

.device > :nth-child(2) {
    transform: translateZ(4px);
}

.device > :nth-child(3) {
    transform: translateZ(6px);
}

.device > :nth-child(4) {
    transform: translateZ(8px);
}

.device > :nth-child(5) {
    transform: translateZ(10px);
}

.device > :nth-child(6) {
    transform: translateZ(12px);
}

.device > :nth-child(7) {
    transform: translateZ(14px);
}

.device > :nth-child(8) {
    transform: translateZ(16px);
}

.device > :nth-child(9) {
    transform: translateZ(18px);
}

.device > :nth-child(10) {
    transform: translateZ(20px);
}

.device > .front {
    padding: 40px 10px 40px 10px;
}

.device > .front, .device > .back {
    background: #fff;
    border: solid 1px #aaa;
}

.screen {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 6px;
    overflow: hidden;
    border: solid 1px #aaa;
}

.screen > img, .screen > video {
    width: 100%;
}

.device video {
    pointer-events: auto !important;
}

/* DESKTOP */

.device.desktop {
    width: 800px;
    height: 630px;
}

.device.desktop > div {
    border-radius: 8px;
}

.device.desktop .front {
    padding: 30px 5px 5px 5px;
}

.device.desktop .screen {
    border-radius: 4px;
}

.window-buttons {
    position: absolute;
    top: 3px;
    left: 12px;
}

.device:not(.desktop) .window-buttons {
    display: none;
}

.window-buttons > * {
    display: inline-block;
    width: 10px;;
    height: 10px;;
    background: #ccc;
    border: solid 1px #aaa;
    border-radius: 100%;
    margin-right: 4px;
}

/* TABLET */

.device.tablet {
    width: 700px;
    height: 500px;
}

.device.tablet .front {
    padding: 10px 30px 10px 30px;
}
