@keyframes reveal {
  from {
    transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal2 {
  from {
    transform: translate(0, 30px);
  }
}

@keyframes drop {
  from {
    transform: translate(0, -200px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section.hero {
  position: relative;
  color: #444444;
  overflow: visible;
  text-shadow: none;
}

.white {
  --color-bg: linear-gradient(180deg, #fafafa 0%, #d8d8d8 100%);
  --color-fg: #444;
  --color-highlight: #ff6666;
}

.red {
  --color-bg: #ff6666;
  --color-fg: #fff;
  --color-highlight: #444;
}

.blue {
  --color-bg: #23b4ff;
  --color-fg: #fff;
  --color-highlight: #444;
}

.black {
  --color-bg: #444444;
  --color-fg: #fff;
  --color-highlight: #ff6666;
}

section {
  color: var(--color-fg);
}

section a {
  color: var(--color-highlight);
}

section .bg,
section .bg > * {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section .bg > * {
  background: var(--color-bg);
}

section .bg > :nth-child(1) {
  transform: skew(0, 2deg);
  transform-origin: 30%;
}

section .bg > :nth-child(2) {
  opacity: 0.5;
  transform: skew(0, -2deg);
  transform-origin: 80%;
}

section .bg > :nth-child(3) {
  opacity: 0.3;
  transform: skew(0, 4deg);
  transform-origin: 40%;
}

section.right .bg > :nth-child(1) {
  transform: skew(0, -2deg);
  transform-origin: 80%;
}

section.right .bg > :nth-child(2) {
  opacity: 0.5;
  transform: skew(0, 1deg);
  transform-origin: -20%;
}

section.right .bg > :nth-child(3) {
  opacity: 0.3;
  transform: skew(0, -4deg);
  transform-origin: 70%;
}

section.hero header,
section.hero .inner > * {
  animation: reveal 1s backwards;
}

section.hero > .inner :nth-child(1) {
  animation-delay: 0.2s;
}

section.hero > .inner :nth-child(2) {
  animation-delay: 0.4s;
}

section.hero > .inner :nth-child(3) {
  animation-delay: 0.6s;
}

section.hero > .inner :nth-child(4) {
  animation-delay: 0.8s;
}

section:not(.hero) {
  animation-delay: 0.4s;
}

section.hero header {
  position: static;
  background: transparent;
  box-shadow: none;
  border: none;
}

section.hero a:not(.btn) {
  color: #444;
}

section.hero header .signup-button {
  background: #ff6666;
}

section.hero .inner .logo {
  height: 60px;
  width: 200px;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 7;
}

section.hero h1 {
  vertical-align: middle;
}

section.hero .inner h2 {
  width: 400px;
  margin-bottom: 40px;
}

section.hero .inner h3 {
  font-weight: 300;
  width: 420px;
  margin-bottom: 40px;
}

section.hero .inner h3 strong {
  font-weight: 700;
}

.hero .inner button,
.hero .inner .btn {
  font-size: 120%;
  background: #ff6666;
}

@media (max-width: 500px) {
  section.hero > .inner {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  section.hero > .inner h1,
  section.hero > .inner h2,
  section.hero > .inner h3 {
    width: 100% !important;
  }
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-hero-1 {
  background: url('/img/landing/hero.png') no-repeat calc(100% + 100px) center;
  background-size: 600px 600px;
  animation: reveal 2s backwards 0.5s !important;
}

.bg-simple-1 {
  background: url('/img/landing/simple_1.png') no-repeat -100px 70px;
  background-size: 600px 600px;
  animation: reveal 2s backwards 0s !important;
}

.bg-simple-2 {
  background: url('/img/landing/simple_2.png') no-repeat -100px 70px;
  background-size: 600px 600px;
  animation: reveal 2s backwards 0.5s !important;
}

.bg-portable-1 {
  background: url('/img/landing/portable_1.png') no-repeat right center;
  background-size: 600px 600px;
  animation: drop 1.5s backwards 0s !important;
}

.bg-portable-2 {
  background: url('/img/landing/portable_2.png') no-repeat right center;
  background-size: 600px 600px;
  animation: drop 1.5s backwards 0.2s !important;
}

.bg-portable-3 {
  background: url('/img/landing/portable_3.png') no-repeat right center;
  background-size: 600px 600px;
  animation: drop 1.5s backwards 0.4s !important;
}
