html, body {
    overflow-x: hidden;
}

header {
    position: absolute;
    background: transparent;
    border: none;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
}

header, header a {
    color: #fff;
}

header .inner {
    max-width: none;
    padding: 0 10px;
    box-sizing: border-box;
}

header.header-background {
    background: #23b4ff;
    z-index: 0;
    height: 50px;
}

main {
    max-width: none;
    margin: 0;
    padding: 0;
}

footer {
    margin-bottom: 100px;
}

section {
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 100px;
    height: 350px;
    perspective: 3000px;
}

section:nth-of-type(2n) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}

section:nth-of-type(2n+1) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section .inner {
    display: flex;
    flex-direction: column;
    justify-content: start;;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
}

section h1 {
    margin: 0 0 30px 0;
}

section h2 {
    font-size: 130%;
    margin: 0 0 40px 0;
    font-weight: 300;
}

.device-stage {
    position: absolute;
    top: 0; left: 0; right: 0;
    perspective: 2000px;
    height: 500px;
    transition: transform 1s;
    pointer-events: none;
    transform: translate3d(0, 100px, 0);
}

.device-wrapper {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translate3d(300px, -30px, -500px) rotateY(-60deg) rotateX(20deg);
}

.device {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.device.desktop {
    visibility: hidden;
    transform: rotateY(180deg);
}

/* HERO SECTION */

section.hero {
    position: relative;
    padding-top: 0;
    height: 700px;
    background-color: #23b4ff;
    background: linear-gradient(180deg, #59c6ff 0%, #0274af 100%);
    color: #fff;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
}

section.hero .inner {
    justify-content: center;
}


section.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/img/bg.svg");
    background-size: 28px;
    opacity: 0.05;
}

.hero a {
    color: #fff;
}

.hero .logo-icon {
    font-size: 100%;
    position: relative;
    top: 5px;
}

.hero h1 {
    margin-top: -20px;
}

.hero h1, .hero h2 {
    font-weight: 400;
    width: 450px;
}

.hero .description {
    width: 450px;
    margin-bottom: 40px;
    font-size: 110%;
}

.hero .buttons > * {
    margin-right: 10px;
}

.hero button, .hero .btn {
    font-size: 120%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
}

.device-stage.hero .device-wrapper {
    transform: translate3d(300px, -30px, -500px) rotateY(-30deg) rotateX(20deg);
}

/* SIMPLE SECTION */

section.simple .inner {
    text-align: right;
    align-items: flex-end;
}

section.simple .inner > h1 {
    width: 400px;
}

section.simple .inner > h2 {
    width: 500px;
}

.device-stage.simple {
    transform: translate3d(0, 700px, 0);
}

.device-stage.simple .device-wrapper {
    transform: translate3d(-350px, -10px, -600px) rotateY(390deg) rotateX(20deg);
}

/* CROSS-PLATFORM SECTION */

section.cross-platform .inner {
    text-align: left;
}

section.cross-platform .inner > h1 {
    width: 300px;
}

section.cross-platform .inner > h2 {
    width: 400px;
}

.device-stage.cross-platform {
    transform: translate3d(0, 1150px, 0);
}

.device-stage.cross-platform .device-wrapper {
    transform: translate3d(460px, -30px, -1300px) rotateY(150deg) rotateX(-20deg);
}

.device-stage.cross-platform .device > div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.device-stage.cross-platform .device.desktop {
    visibility: visible;
}

/* OPEN-SOURCE SECTION */

section.open-source .inner {
    text-align: right;
    align-items: flex-end;
}

section.open-source .inner > h1 {
    width: 500px;
}

section.open-source .inner > h2 {
    width: 500px;
}

section.open-source .icon-github {
    display: block;
    font-size: 250px;
    position: absolute;
    top: 15px;
    left: 35px;
}

@keyframes beat {
    0% { transform: scale(0.9); }
    5% { transform: scale(1.1); }
    15% { transform: scale(0.9); }
    100% { transform: scale(0.9); }
}

.icon-heart {
    display: inline-block;
    animation: beat 5s infinite both;
}

@media (max-width: 500px) {
    .hero h1 {
        font-size: 400%;
    }

    .get-it .icon {
        width: 50px;
        height: 50px;
    }
}
