@keyframes reveal {
  from {
    transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal2 {
  from {
    transform: translate(0, 30px);
  }
}

section .inner {
  max-width: 900px;
}

section:not(.hero):not(.plans) {
  position: relative;
  padding-top: 100px;
  height: 350px;
  perspective: 3000px;
  margin: 0;
}

section:not(.hero):not(.plans) > .inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  height: 100%;
}

section h1 {
  margin: 0 0 30px 0;
}

section h3 {
  margin: 0 0 20px 0;
  font-weight: 300;
}

.device-stage {
  z-index: 10;
  transform: translate3d(0, 100px, 0);
}

.device-wrapper {
  transform: translate3d(250px, -5px, 0) rotateY(-60deg) rotateX(20deg);
}

.device-stage:not(.hero):not(.simple):not(.portable):not(.transparent):not(.together) {
  opacity: 0;
}

.device.desktop {
  transform: rotateY(180deg) translateY(-5000px);
  transition: transform 0s linear 0.3s;
}

.device.desktop > div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* HERO SECTION */

section.hero {
  height: 630px;
  margin: 0;
}

section.hero .inner {
  padding: 80px 50px 100px 50px;
}

section.hero h2 {
  margin-top: 0;
}

.device-stage.hero .device-wrapper {
  transform: translate3d(250px, 40px, 0) rotateY(-30deg) rotateX(20deg)
    scale(1.1);
}

/* SIMPLE SECTION */

section.simple .inner {
  text-align: right;
  align-items: flex-end;
}

section.simple .inner > h3 {
  width: 435px;
}

.device-stage.simple {
  transform: translate3d(0, 630px, 0);
}

.device-stage.simple .device-wrapper {
  transform: translate3d(-220px, 50px, 0) rotateY(390deg) rotateX(20deg);
}

/* CROSS-PLATFORM SECTION */

section.portable .inner {
  text-align: left;
}

section.portable .inner > h3 {
  width: 420px;
}

.device-stage.portable {
  z-index: 1;
  transform: translate3d(0, 1080px, 0);
}

.device-stage.portable .device-wrapper {
  transform: translate3d(250px, 60px, 0) rotateY(150deg) rotateX(-20deg);
}

.device-stage.portable .device.desktop {
  transform: rotateY(180deg);
}

.device-stage.portable .device > div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* TRANSPARENCY SECTION */

section.transparent .inner {
  text-align: right;
  align-items: flex-end;
}

section.transparent .inner > h3 {
  width: 460px;
}

.device-stage.transparent {
  z-index: 1;
  transform: translate3d(0, 1530px, 0);
}

.device-stage.transparent .device-wrapper {
  transform: translate3d(-250px, 40px, 0) rotateY(390deg) rotateX(20deg);
}

.device-stage.transparent .device > div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* TOGETHER SECTION */

section.together {
  padding-bottom: 20px;
}

section.together .inner > h3 {
  width: 340px;
}

.device-stage.together {
  z-index: 1;
  transform: translate3d(0, 1980px, 0);
}

.device-stage.together .device-wrapper {
  transform: translate3d(200px, 80px, 0) rotateY(150deg) rotateX(-20deg);
}

.device-stage.together .device > div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.device-stage.together .device.desktop {
  transform: rotateY(180deg);
}

/* PLANS SECTION */

section.plans {
  margin-top: 100px;
  text-align: center;
}

section.plans > .inner {
  max-width: 1100px;
}

section.plans > .inner h3 {
  max-width: 550px;
  margin: -10px auto 30px auto;
}

/* MISC */

body.legacy .device-stage {
  display: none !important;
}

@media (max-width: 840px) {
  .device-stage {
    display: none !important;
  }

  section {
    height: auto !important;
  }

  section .inner {
    width: 100%;
    box-sizing: border-box;
    align-items: center !important;
    text-align: center !important;
  }

  section .inner h1,
  section .inner h2,
  section .inner h3 {
    width: 100% !important;
  }

  section.hero > .inner {
    padding-top: 50px;
  }
}
