<!DOCTYPE html>
<html>
    <head>
        <title>{{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}</title>

        {{ block "meta" . }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {{ end }}

        {{ block "favicon" . }}
        <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
        {{ end }}

        {{ block "css" . }}
        <link href="/css/fonts.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        {{ end }}

        {{ block "js" . }}
        {{ end }}
    </head>
    <body>
        {{ block "main" . }}
        {{ end }}

        {{ block "footer" . }}
        {{ end }}
    </body>
</html>

