<!DOCTYPE html>
<html>
    <head>
        <title>{{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}</title>

        {{ block "meta" . }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-itunes-app" content="app-id=871710139">
        {{ end }}

        {{ block "favicon" . }}
        <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
        {{ end }}

        {{ define "basecss" }}
        <link href="/css/fonts.css" rel="stylesheet" type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/css/base.css" rel="stylesheet" type="text/css">
        {{ end }}

        {{ block "css" . }}
            {{ template "basecss" . }}
        {{ end }}

        {{ define "basejs" }}
        {{ end }}

        {{ block "js" . }}
            {{ template "basejs" . }}
        {{ end }}
    </head>
    <body>
        {{ block "header" . }}
            {{ partial "header" . }}
        {{ end }}

        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

        {{ block "float" . }}
        {{ end }}

        {{ block "footer" . }}
            {{ partial "footer" . }}
        {{ end }}

        {{ partial "mixpanel" . }}
        <script src="/js/analytics.js"></script>
    </body>
</html>

