<li>
    <a href="{{ .RelPermalink }}">
        <div class="thumbnail" style="background-image: url({{ .Params.thumbnail | default "/img/thumb_default.png" }})">
        </div>

        <div class="body">
            <h3>{{ .Title }}</h3>
            <div class="publish-date">{{ dateFormat "Monday, Jan 2, 2006" .PublishDate }}</div>

            <div class="summary">
                {{ .Summary }}
                {{- if .Truncated -}}
                ... <strong>click to read more</strong>
                {{ end }}
            </div>
        </div>
    </a>
</li>
