{{ define "main" }}
<section class="hero">
    {{ partial "header" . }}

    <div class="inner">
        <h1>{{ .Title }}</h1>
    </div>
</section>

<section>
    <div class="inner">
        {{ partial "newsletter-signup" . }}
    </div>
</section>

<section>
    <div class="inner">
        <ul class="articles">
            {{ range .Data.Pages }}
                {{ .Render "li" }}
            {{ end }}
        </ul>
    </div>
</section>

<section>
    <div class="inner">
        {{ partial "download-button" (dict "ref" "article-list") }}
    </div>
</section>

<section>
    <div class="inner">
        {{ partial "newsletter-signup" . }}
    </div>
</section>
{{ end }}
