{{ define "css" }}
    {{ template "basecss" }}
    <link href="/css/single.css" rel="stylesheet" type="text/css" />
{{ end }}

{{ define "main" }}

{{ partial "header" . }}

<div class="main-layout">
    <div>
        <div class="side-menu">
            <div class="animation-reveal">
                {{ partial "search" . }}
            </div>

            {{ partial "section-menu" . }}
        </div>
    </div>

    <div>
        <article class="animation-reveal-children animation-fast">
            <div class="narrow">
                {{ partial "breadcrumbs" . }}
            </div>

            {{ partial "cover-image" . }}

            <h1>{{ .Title }}</h1>

            {{ with .PublishDate }}
            <p class="subtle">{{ dateFormat "Monday, Jan 2, 2006" . }}</p>
            {{ end }}

            <div>
                {{ .Content }}
            </div>
        </article>
    </div>

    <div>
        <div class="side-menu right">
            {{ partial "page-menu" . }}
        </div>
    </div>
</div>

{{ end }}
