{{ define "main" }}

<style>
    section .inner {
        max-width: 900px;
    }

    @media (max-width: 700px) {
      section .inner {
        flex-direction: column !important;
        padding: 0 20px !important;
      }

      section .inner .content {
        align-items: flex-start !important;
        text-align: left !important;
        padding: 30px 10px 50px 10px !important;
      }

      article {
          margin: 50px 0;
      }
    }
</style>

<section class="blue hero">
    {{ partial "header" . }}

    <div class="inner">

        <div class="content">
            {{ with .Section }}
            <div class="back-button-wrapper">
                <a class="btn" href="/{{ . }}">
                    <span class="icon icon-arrow-left"></span>
                    <span>Back to {{ humanize . }}</span>
                </a>
            </div>
            {{ end }}

            <h1>{{ .Title }}</h1>

        </div>
    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<section>
    <div class="inner">
        <article>
            <div class="publish-date">{{ dateFormat "Monday, Jan 2, 2006" .PublishDate }}</div>
            {{ .Content }}
        </article>
    </div>
</section>

<section>
    <div class="inner">
        {{ partial "newsletter-signup" . }}
    </div>
</section>
{{ end }}
