{{ define "main" }}
<section class="hero">
    {{ partial "header" . }}

    <div class="inner">

        {{ with .Section }}
        <div>
            <a href="/{{ . }}">&hookleftarrow; Back to {{ humanize . }}</a>
        </div>
        {{ end }}

        <h1>{{ .Title }}</h1>
    </div>
</section>

<section>
    <div class="inner">
        <article>
            <div class="publish-date">{{ dateFormat "Monday, Jan 2, 2006" .PublishDate }}</div>
            {{ .Content }}
        </article>
    </div>
</section>

<section>
    <div class="inner">
        {{ partial "download-button" (dict "ref" "article") }}
    </div>
</section>

<section>
    <div class="inner">
        {{ partial "newsletter-signup" . }}
    </div>
</section>
{{ end }}
