{{ define "main" }}

<style>
    section.help > .inner {
        padding: 0;
        max-width: 1200px;
    }

    .help .section-content {
        padding: 2em;
        margin: 0 auto;
    }

    .help .articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1.5em;
        margin: 0 1.5em 4em 1.5em;
    }

    ul.articles > li.help-section {
        padding: 1.5em;
        margin: 0;
    }

    .help-section a.help-section-title {
        font-size: 1.2em;
        font-weight: 600;
        color: var(--color-highlight) !important;
    }

    .help-section-articles {
        list-style: none;
        padding: 0;
    }

    @media (max-width: 700px) {
      section .inner {
        flex-direction: column !important;
        padding: 0 20px !important;
      }

      section .inner .content {
        align-items: flex-start !important;
        text-align: left !important;
        padding: 30px 10px 50px 10px !important;
      }
    }
</style>

<section class="hero blue">
    {{ partial "header" . }}

    <div class="inner">
        <div class="content">
            {{ partial "logo.svg" . }}

            <h1>
                {{ .Title }}
            </h1>
        </div>
    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<section class="white help">
    <div class="inner">

        {{ if not (eq .Parent.Kind "home") }}
            {{ partial "sidemenu" . }}
        {{ end }}

        <div class="content">
            <div class="section-content">
                {{ .Content }}
            </div>

            <ul class="articles">
            {{ range .Pages }}
                <li class="help-section">
                    <a href="{{ .URL }}" class="help-section-title">
                        <span>{{ .Name }}</span>
                    </a>

                    <div class="help-section-description">
                        {{ .Summary }}
                    </div>

                    <ul class="help-section-articles">
                        {{ range .Pages }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
            </ul>
        </div>
    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<section class="help">
    <div class="inner">
        {{ partial "newsletter-signup" . }}
    </div>
</section>

{{ partial "menu" "blue" }}

{{ end }}
