<div class="device {{ .type }}">
    <div class="back"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="front">
        <div class="window-buttons">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="screen">
            {{ with .video }}
                <video src="{{ . }}" playsinline muted></video>
            {{ end }}
            {{ with .img }}
                <img src="{{ . }}" style="display: none" onload="this.style.display='';">
            {{ end }}
        </div>
    </div>
</div>
<script>
(() => {
    const device = document.currentScript.previousElementSibling;
    const video = device.querySelector("video");
    const scroller = document.scrollingElement;
    const deviceBounds = device.getBoundingClientRect();
    const scrollerHeight = scroller.offsetHeight;
    const deviceTop = deviceBounds.top + scroller.scrollTop;
    const topThreshold = Math.min(
        // Top threshold is when the middle of the device is in the upper two thirds of the screen
        deviceTop - scrollerHeight * 2 / 3,
        scroller.scrollHeight
    );
    const bottomThreshold = Math.max(
        deviceTop + deviceBounds.height - scrollerHeight * 1 / 3,
        0
    );

    let hasPlayed = false;

    if (video) {
        video.addEventListener("playing", () => {
            device.style.animationPlayState = "running";
        });
    }

    const scrollHandler = () => {
        if (
            !hasPlayed &&
            scroller.scrollTop > topThreshold &&
            scroller.scrollTop < bottomThreshold
        ) {
            document.removeEventListener("scroll", scrollHandler);
            hasPlayed = true;
            if (video) {
                video.play();
            }
        }
    };

    document.addEventListener("scroll", scrollHandler);
    window.addEventListener("load", scrollHandler);
})();
</script>
