<div class="device {{ .type }}">
    <div class="back"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="body"></div>
    <div class="front">
        <div class="window-buttons">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="screen">
            {{ with .video }}
                <video playsinline muted autoplay></video>
            {{ end }}
            {{ with .img }}
                <img src="{{ . }}" style="display: none" onload="this.style.display='';">
            {{ end }}
        </div>
    </div>
</div>
