<div class="device {{ .type }}">
    <div class="back" {{ if eq .type "desktop" }}style="display: none;"{{ end }}></div>
    <div class="body" {{ if eq .type "desktop" }}style="display: none;"{{ end }}></div>
    <div class="body"></div>
    <div class="front">
        <div class="window-buttons">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="screen">
            <video playsinline muted autoplay></video>
            <!-- {{ with .img }} -->
            <!--     <img src="{{ . }}" style="display: none" onload="this.style.display='';"> -->
            <!-- {{ end }} -->
        </div>
    </div>
</div>
