<footer>
    <nav>
        <ul>
            <li><a href="/business/">Business</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/guides/">Guides</a></li>
            <li><a href="/downloads/">Downloads</a></li>
            <li><a href="mailto:contact@pacloc.app">Contact</a></li>
            <li><a href="/privacy/">Privacy</a></li>
            <li><a href="{{ .Param "github_url" }}" class="padlock-github">Source</a></li>
        </ul>
    </nav>
    <div class="copyright">
        &copy; 2019 MaKleSoft UG, Meisenstr. 5, 91522 Ansbach, Germany
    </div>
</footer>
