<header>
  <nav>
    <ul>
      <li>
        <a href="/"><div class="brand-icon icon-padlock"></div></a>
      </li>
      <li class="wide"><a href="/business/">Business</a></li>
      <li class="wide"><a href="/blog/">Blog</a></li>
      <li class="wide"><a href="/guides/">Guides</a></li>
      <li class="wide"><a href="/downloads/">Downloads</a></li>
    </ul>
  </nav>

  <div class="spacer"></div>

  <nav class="login-signup">
    <ul>
      <li>
          <a href="{{ .Param "login_url" }}" class="">Login</a>
      </li>
      <li>
        <a href="{{ .Param "get_started_url" }}" class="btn">
          <span>Sign Up</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
