{{ define "css" }}
    {{ template "basecss" . }}
    <link href="/css/home.css" rel="stylesheet" type="text/css">
{{ end }}

{{ define "header" }}
    {{ partial "header" . }}

    <div class="hero">
        <h1>Padlock</h1>
        <h2>A minimalist open source password manager.</h2>
        <div class="get-it">
            {{ partial "download-links" . }}
        </div>
        <div class="logo">
            {{ partial "padlock.svg" . }}
        </div>
    </div>
{{ end }}

{{ define "main" }}
    <section class="about">
        {{ range where .Data.Pages "Title" "About Padlock" }}
            {{ .Content }}
        {{ end }}
    </section>

    <section>
        {{ partial "newsletter-signup" . }}
    </section>
{{ end }}
