{{ define "css" }}
    {{ template "basecss" . }}
    <link href="/css/home.css" rel="stylesheet" type="text/css">
{{ end }}

{{ define "main" }}
    <div class="hero">
        <h1>Padlock</h1>
        <h2>A minimalist open source password manager.</h2>
        <a class="hero-btn get-app" target="_blank" id="downloadButton">Get it Now!</a>
        <div class="logo">
            {{ partial "padlock.svg" . }}
        </div>
        <button class="preview-button" style="display: none"></button>
    </div>
    <section class="platforms">
        <h2>Get it now:</h2>
        {{ partial "download-links" . }}
    </section>
    <section class="subscribe">
        <div class="subscribe-text">Want to stay up to date? <strong>Subscribe to our newsletter!</strong></div>
        {{ partial "newsletter-signup" . }}
    </section>
    <section class="about">
        {{ range where .Data.Pages "Title" "About Padlock" }}
            {{ .Content }}
        {{ end }}
    </section>
    <a class="source-btn padlock-github" href="https://github.com/maklesoft/padlock" target="_blank">Get the Source</a>

    <div class="preview">
        <button class="close-button">x</button>
        <iframe src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <script src="/js/home.js"></script>

{{ end }}
