{{ define "css" }}
    {{ template "basecss" . }}
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/device.css" rel="stylesheet" type="text/css">
{{ end }}

{{ define "header" }}
    {{ partial "header" . }}
{{ end }}

{{ define "main" }}
    <section class="hero">
        <div class="inner">
            <h1>All your sensitive data in one secure place.</h1>
            <h2>
                Padlock securely stores all of your passwords and other sensitive information for you
                so all you have to remember is a single master password!
            </h2>
            <div class="buttons">
                {{ partial "download-button" }}
                <!-- <a href="#" class="btn"> -->
                <!--     <span>Watch Video</span> -->
                <!--     <span class="icon icon&#45;play&#45;circle"></span> -->
                <!-- </a> -->
            </div>
        </div>
        {{ partial "device" (dict "video" "/img/v2.1-unlock.mp4") }}
    </section>

    <section class="cross-platform">
        <div class="inner">
            <h1>Run It Everywhere.</h1>
            <h2>
                Padlock is available on all major<br>
                platforms so you can take your<br>
                data with you wherever you go!
            </h2>
        </div>
        {{ partial "device" (dict "type" "desktop" "video" "/img/v2.1-sync-desktop.mov") }}
        {{ partial "device" (dict "type" "phone" "video" "/img/v2.1-sync-mobile.mov") }}
    </section>

    <section class="showcase left">
        <div class="inner">
            <h1>Effortlessly synchronize all your devices.</h1>
            <h2>
                Padlock is the one, secure place to store all your passwords, pins, credit cards and other sensitive information.
                Strong encryptions makes sure that nobody other than you can ever access your data, not even we!
            </h2>
        </div>
    </section>

    <section class="showcase right">
        <div class="inner">
            <h1>Padlock <span class="icon-heart"></span> Open Source</h1>
            <h2>
                Padlock is the one, secure place to store all your passwords, pins, credit cards and other sensitive information.
                Strong encryptions makes sure that nobody other than you can ever access your data, not even we!
            </h2>
        </div>
    </section>

{{ end }}

{{ define "float" }}
{{ end }}
