{{ define "main" }}

<style>
    section.hero img {
        width: 240px;
        float: right;
    }

    section.hero h4 {
        font-weight: 400;
        max-width: 410px;
    }

    form {
        width: 100%;
        max-width: 25em;
    }

    form .field {
      margin: 0.5em 0;
    }

    form .field > * {
        vertical-align: middle;
    }

    form .field label {
        margin: 0 0.4em;
    }

    form .field input[name="EMAIL"] {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0.5em 0 1.2em 0;
    }

    form .optional.field label {
        font-weight: normal;
    }

    form button {
        margin-top: 1em;
    }

    @media (max-width: 700px) {
        section.hero img {
            display: none;
        }
    }

</style>

<section class="hero">
    {{ partial "header" . }}

    <div class="inner">
        <img src="/img/illustrations/beta.svg">

        <h1>
            {{ partial "logo.svg" . }}
            <span>Beta</span>
        </h1>

        <h4>
            <strong>Padloc 3 is almost ready for prime time</strong> but there
            are still some rough edges that need smoothing out. Can't wait?
            Apply as a beta tester and get access right away! Or you an just
            leave your email here and we'll let you know when it's ready.
        </h4>
    </div>
</section>

<section>
    <div class="inner">
        <form action="https://padlock.us3.list-manage.com/subscribe/post?u=156fa42cf0f141436c20b06b2&amp;id=58a9450e8b" method="post">
            <div class="field email">
                <label><strong>Enter Your Email</strong></label>
                <input type="email" value="" name="EMAIL" placeholder="Email Address" required/>
            </div>

            <div class="field">
                <input type="checkbox" value="1" name="group[28033][2]" id="check1" />

                <label for="check1">I want to be a beta tester! 👷</label>
            </div>

            <div class="field">
                <input type="checkbox" value="1" name="group[28033][1]" id="radio2" />

                <label for="radio2">Just let me know when it's ready.</label>
            </div>

            <input type="hidden" name="b_156fa42cf0f141436c20b06b2_58a9450e8b" tabindex="-1" value="" />

            <input type="hidden" name="PLAN" id="plan" />

            <button>Submit</button>
        </form>

    </div>
</section>

<script>
    document.querySelector("#plan").value = new URLSearchParams(location.search).get("plan");
</script>

{{ end }}
