{{ define "main" }}

<style>
    section.hero .inner {
        max-width: 1100px;
    }

    section.hero .inner .content {
        padding: 80px 20px;
    }

    section.hero .inner .logo {
        margin-bottom: 20px;
    }

    section.hero .images {
      width: 450px;
    }

    section.hero .images :nth-child(1) {
      background-image: url('/img/landing/together_1.png');
      animation: drop 1.5s backwards 0s;
    }

    section.hero .images :nth-child(2) {
      background-image: url('/img/landing/together_2.png');
      animation: drop 1.5s backwards 0.2s;
    }

    section.hero .images :nth-child(3) {
      background-image: url('/img/landing/together_3.png');
      animation: drop 1.5s backwards 0.4s;
    }

    section.plans {
      margin-bottom: 50px;
      text-align: center;
    }

    section.plans .inner {
        max-width: 1200px;
        flex-direction: column;
        align-items: stretch;
        padding: 0 20px;
    }

    section.plans .inner .content {
      padding: 100px 0 30px 0;
      max-width: 500px;
      align-self: center;
    }
</style>

<section class="left hero red">
    {{ partial "header" . }}

    <div class="inner">
        <div class="content">
            {{ partial "logo.svg" . }}

            <h1>
                for Business
            </h1>

            <h3>
                <strong>Padloc is the perfect password manager for your business</strong>
                whether you're a small team, large company or any other kind of organization!
                Easily share passwords, documents and more while being in full control
                over who can see, edit and manage your data!
            </h3>
        </div>

        <div class="images">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>

</section>

<section class="plans">
    <div class="inner">
        <div class="content">
            <h3>
                Are you an educational institution or non-profit organization?
                <a href="mailto:sales@padloc.app">Ask us about our special discounts!</a>
            </h3>
        </div>

        <div class="plans-list">
            <div>
                {{ partial "plan" (.Param "plans").team }}
            </div>
            <div>
                {{ partial "plan" (.Param "plans").business }}
            </div>
            <div>
                {{ partial "plan" (.Param "plans").enterprise }}
            </div>
        </div>
    </div>
</section>

{{ end }}
