{{ define "main" }}

<style>
    section.hero > .inner {
        max-width: 1100px;
        padding: 40px 0px 100px 80px;
    }

    section.hero img {
        width: 500px;
        float: right;
        margin-top: 30px;
    }

    section.hero > .inner h3 {
        width: 460px;
    }

    section.plans > .inner {
        max-width: 1200px
    }

    section.plans p {
        max-width: 500px;
        margin: -1em auto 2em auto;
        text-align: center;
    }

    @media (max-width: 1000px) {
        section.hero img {
            display: none;
        }
    }
</style>

<section class="hero">
    {{ partial "header" . }}

    <div class="inner">
        <img src="/img/illustrations/team.svg" class="wide">

        <h1>
            {{ partial "logo.svg" . }}
            <span>for Business</span>
        </h1>

        <h3>
            <strong>Padloc is the perfect password manager for your business</strong>
            whether you're a small team, large company or any other kind of organization!
            Easily share passwords, documents and more while being in full control
            over who can see, edit and manage your data!
        </h3>
    </div>
</section>

<section class="plans">
    <div class="inner">
        <p>
            Are you an educational institution or non-profit organization?
            <a href="sales@padloc.app">Ask us about our special discounts!</a>
        </p>

        <div class="plans-list">
            <div>
                {{ partial "plan" (.Param "plans").team }}
            </div>
            <div>
                {{ partial "plan" (.Param "plans").business }}
            </div>
            <div>
                {{ partial "plan" (.Param "plans").enterprise }}
            </div>
        </div>
    </div>
</section>

{{ end }}
