{{ define "css" }}
    {{ template "basecss" . }}
    <link href="/css/downloads.css" rel="stylesheet" type="text/css">
{{ end }}
{{ define "main" }}

<section class="left white hero">
    {{ partial "header" . }}

    <div class="inner">

        <div class="content">

            <h1>
                <span>Downloads</span>
            </h1>

            <h3>
                Access your data from anywhere with the <strong>Padloc</strong> app,
                available on all major platforms!
            </h3>

        </div>

        <div class="images">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<section class="downloads blue">
    <div class="inner">
        <h2>Padloc 3</h2>

        <h3>Desktop</h3>

        <ul class="downloads-list">
            {{ range where (.Param "downloads") "type" "desktop" }}
                <li>
                    <a href={{ .url }}>
                        <div class="brand-icon icon-{{ .icon }}"></div>
                        <div>
                            <div class="download-title">{{ .title }}</div>
                            <div class="download-version">v{{ .version }}</div>
                        </div>
                    </a>
                </li> 
            {{ end }}
        </ul>

        <h3>Mobile</h3>

        <ul class="downloads-list">
            {{ range where (.Param "downloads") "type" "mobile" }}
                <li>
                    <a href={{ .url }}>
                        <div class="brand-icon icon-{{ .icon }}"></div>
                        <div>
                            <div class="download-title">{{ .title }}</div>
                            <div class="download-version">v{{ .version }}</div>
                        </div>
                    </a>
                </li> 
            {{ end }}
        </ul>
    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

<section class="downloads black" id="legacy">
    <div class="inner">
        <h2>Padlock v2.7 (legacy)</h2>

        <div class="note">
            <strong>Note:</strong> While we'll be providing downloads for older versions for
            a while longer, we strongly recommend upgrading to Padloc 3 as soon
            as possible. Check out <a href="/guides/migrate-v3">this guide</a> on how to
            migrate from older versions to Padloc 3!
        </div>

        <h3>Desktop</h3>

        <ul class="downloads-list">
            {{ range where (.Param "downloads_v2") "type" "desktop" }}
                <li>
                    <a href={{ .url }}>
                        <div class="brand-icon icon-{{ .icon }}"></div>
                        <div>
                            <div class="download-title">{{ .title }}</div>
                            <div class="download-version">v{{ .version }}</div>
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>

        <h3>Mobile</h3>
        <ul class="downloads-list">
            {{ range where (.Param "downloads_v2") "type" "mobile" }}
                <li>
                    <a href={{ .url }}>
                        <div class="brand-icon icon-{{ .icon }}"></div>
                        <div>
                            <div class="download-title">{{ .title }}</div>
                            <div class="download-version">v{{ .version }}</div>
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>

    <div class="bg-color">
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>

{{ partial "menu" "white" }}
{{ end }}
